<div class="all-attachments">
    <p class="all-attachments-header">Все вложения</p>
    <p *ngIf="(attachments$ | async) === undefined">Загрузка..</p>
    <p *ngIf="(attachments$ | async) === null" style="color: red;">Произошла ошибка при загрузке.</p>
    <div *ngIf="attachments$ | async as attachments" class="all-attachments-block">
        <app-attachment
                *ngFor="let attachment of attachments"
                [attachment]="attachment">
        </app-attachment>
    </div>
</div>
