.all-attachments {
    padding: 28px 19px;
}

.all-attachments-header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #141414;
    padding-bottom: 28px;
}

.all-attachments-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.all-attachments-block > * {
    margin-right: 24px;
    margin-bottom: 21px;
}
