.attachment {
    width: 150px;
    height: 188px;
}

.attachment-img {
    height: 108px;
    background-color: #EFF2F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attachment-bottom {
    background-color: #FFFFFF;
    border: 1px solid #E2E8ED;
    border-radius: 0 0 3px;
    padding: 8px 13px 9px;
}

.attachment-bottom > .attachment-name, .attachment-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.attachment-name {
    font-size: 12px;
    color: #141414;
}

.attachment-icon-description {
    display: flex;
    align-items: center;
}

.attachment-icon {
    margin-right: 5px;
}

.attachment-description {
    font-size: 10px;
    color: #8A9AAC;
}
